.container {
  min-height: 100vh;
  width: 600px;
}
#fullpage {
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgdark {
  background: url("./img/bg-desktop-dark.jpg"), hsl(235, 21%, 11%);
}
.bglight {
  background: url("./img/bg-desktop-light.jpg"), hsl(0, 0%, 98%);
}
.header {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}
.text {
  width: 100%;
  height: 50px;
  background-color: hsl(235, 24%, 19%);
  border-radius: 3px;
  margin-bottom: 20px;
  color: white;
}
.text input {
  height: 100%;
  width: 85%;
  float: left;
  background-color: transparent;
  border: 0;
  outline: none;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  caret-color: hsl(220, 98%, 61%);
}
.textlight {
  color: black;
  background-color: #fff;
}
.check {
  width: 15%;
  height: 100%;
  background-color: transparent;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbtn {
  height: 20px;
  width: 20px;
  border: 1px solid rgba(128, 128, 128, 0.61);
  border-radius: 50%;
  cursor: pointer;
}
.checked {
  background: url("./img/icon-check.svg"),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.addbtn {
  width: 15%;
  height: 100%;
  background-color: transparent;
  float: left;
  color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
}
.addbtn:hover {
  background-color: rgba(255, 255, 255, 0.185);
}
.textlight .addbtn:hover {
  background-color: rgba(128, 128, 128, 0.479);
}
.addbtn:active {
  background-color: #fff;
  color: black;
}
.textlight .addbtn:active {
  background-color: black;
  color: white;
}
.darkmodebtn {
  cursor: pointer;
}
.rem {
  width: 15%;
  height: 100%;
  background-color: transparent;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rembtn {
  height: 20px;
  width: 20px;
  background-image: url("./img/icon-cross.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.todos {
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  border-radius: 3px;
  min-height: 50px;
  color: white;
}
.todoslight {
  background-color: #fff;
  color: black;
}
.todo {
  height: 50px;
  border-bottom: 1px solid rgba(179, 169, 169, 0.137);
}
.todo-item {
  display: block;
  width: 70%;
  height: 100%;
  float: left;
  padding: 20px;
}
.checkedtxt {
  color: rgba(128, 128, 128, 0.486);
  text-decoration: line-through;
}
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.329);
  padding: 10px;
}
.footerlight {
  color: gray;
}
.filters span:hover {
  color: white;
  cursor: pointer;
}
.footerlight .filters span:hover {
  color: black;
  cursor: pointer;
}
.filters span {
  margin: 0 10px;
  user-select: none;
}
.selected {
  color: hsl(220, 98%, 61%);
}
.clear {
  user-select: none;
}
.clear:hover {
  color: white;
  cursor: pointer;
}
.footerlight .clear:hover {
  color: black;
  cursor: pointer;
}
ul {
  max-height: 330px;
  overflow-y: auto;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f500;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f500;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(92, 87, 87, 0.411);
}
@media (max-width: 425px) {
  .container {
    width: 90vw;
  }
  .bgdark {
    background: url("./img/bg-mobile-dark.jpg"), hsl(235, 21%, 11%);
    background-size: contain;
  }
  .bglight {
    background: url("./img/bg-mobile-light.jpg"), hsl(0, 0%, 98%);
    background-size: contain;
  }
  .itemsleft {
    display: none;
  }
  .clear {
    display: none;
  }
  .filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    max-height: 230px;
  }
}
